<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义指令</title>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <p>页面载入时，input 元素自动获取焦点：</p>
    <input v-focus>
</div>


<script>
  // 注册一个全局自定义指令 v-focus
//  Vue.directive('focus', {
//    // 当绑定元素插入到 DOM 中。
//    inserted: function (el) {
//      // 聚焦元素
//      el.focus()
//    }
//  })
  // 创建根实例
  new Vue({
    el: '#app',
    directives: {
      // 注册一个局部的自定义指令 v-focus
      focus: {
        // 指令的定义
        inserted: function (el) {
          // 聚焦元素
          el.focus()
        }
      }
    }
  })
</script>
</body>
</html>